@import url('https://fonts.googleapis.com/css2?family=Tourney&display=swap');

body {
  margin: 10px;
  background-image: linear-gradient(to right, rgb(122,151,237) , rgb(230,142,53));
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 900px; */
}

.HomeMain{
  height: 1100px;
}

h1 {
  font-size: 5vh;
  font-family: 'Tourney', cursive;
  color: rgb(72,29,82);
  text-shadow: 2px 2px #dd517e;
  text-align: center;
}

.MemeAndQuote {
  position: relative;
  width:90vw;
  margin:0 auto;
  margin-bottom: 50px;
}

.Meme img {
  /* width: 350px; */
  width:100%;
  padding: 0px;
  /* position: relative; */
}

.Meme p{
  /* position: relative;
  bottom: 110px;
  z-index: 10; */
  bottom: -15px;
  width: 100%;
  position: absolute;
  color: #d7dff7;
  text-shadow: 2px 2px rgb(44, 13, 51);
  font-size: 24px;
  text-align: center;
}

button {
  /* width: 150px; */
  height: 50px;
  border-radius: 10px;
  font-size: 38px;
  font-family: 'Tourney', cursive;
  font-weight: 900;
  color: rgb(72,29,82);
  text-shadow: 2px 2px #dd517e;
  background: linear-gradient(to left, rgb(85,108,201) , rgb(230,142,53));
  display: flex;
  justify-content: center;  
}

div.saveButton {
  display: flex;
  justify-content: center;
}

 /* button.Refresh {
  width: 50px; 
} */

div.Refresh {
  width: 50px; 
  padding: 10px;
  display: flex;
  justify-content: center;
  margin-left: 142px;
}

div.Saved {
  width: 50px; 
  padding: 10px;
  padding-top: 0px;
  display: flex;
  justify-content: center;
  margin-left: 142px;
}

.savedParent{
  width:90vw;
  margin: 0 auto;
  text-align: center;
}

.savedItems{
  width:100%;
  height:100%;
  margin-bottom: 20px;
  position: relative;
}
.savedItems img{
  width:100%;
}
.savedItems p{
  position: absolute;
  width: 100%;
  bottom: -15px;
  color: #d7dff7;
  text-shadow: 2px 2px rgb(44, 13, 51);
  font-size: 24px;
  text-align: center;
}
.savedParent button{
  margin: 0 auto;
  margin-bottom: 20px;
  width: 50px;
}

/* div.Buttons {
  display: flex;
  justify-content: space-around;

} */

/* img.KanyeHead {
  width: 200px;
} */

@media screen 
and (min-device-width: 1440px) {

body {
  background-size: cover;
  /* height: 1500px; */
}

.Meme{
  text-align: center;
}

.HomeMain{
  height: 2000px;
}
  
/* .Meme img {
  width: 60%;
} */

.MemeAndQuote {
  width: 60%;
}

.savedParent {
  width: 60%;
}

.Meme p {
  font-size: 38px;
}

.savedItems p {
  font-size: 38px;
}

/* div.Meme {
  display: flex;
  justify-content: center;
} */

div.Buttons {
  display: flex;
  justify-content: space-evenly;
}

div.Refresh {
  padding-top: 0px;
  margin: 0px;
}

div.Saved {
  margin: 0px;
}
}